@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    font-size: 12px;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    padding: 0%;
    margin: 0;
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: Poppins;
    background: #1A2980;
    letter-spacing: 120%;
}

* {
    box-sizing: border-box;
}

header {
    padding: 15vh 5%;
    font-family: "Permanent Ink", cursive;
    font-size: 2.5rem;
    font-weight: bolder;
    background-attachment: fixed;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/pencils.jpg");
    color: white;
}

#none {
    text-align: center;
    font-size: larger;
}

#file-chooser {
    position: relative;
    left: 0%;
    transform: translateX(35px);
    padding: 1rem;
}


section {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 8px;
    padding: 1rem;
}

#root {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas-container {
    width: 100%;
    height: min(80vh, 90vw*.5);
}

#color-container {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    position: relative;
}

#extra-button-container {
    position: absolute;
    display: flex;
    gap: .5rem;
    width: fit-content;
    height: 100%;
    right: 1rem;
    transform: translateY(50%);

}

#extra-button-container>button {
    width: 2rem;
    height: 80%;
    right: 5px;
    background-color: black;
    transform: translateY(-50%);
    background-image: url("./images/copy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:nth-of-type(1) {
        background-image: url("./images/copy.png");
    }

    &:nth-of-type(2) {
        background-image: url("./images/exo_ic_fullscreen_enter.png");
    }
}

#copy-button:active {
    background-color: rgb(0, 132, 255);
}

footer {
    height: max-content;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    padding: 2rem;
    padding-bottom: 4rem;
}

footer div {
    max-width: 70%;
    margin: auto;
    line-height: 150%;
    letter-spacing: 120%;
}



#social-links {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#social-links a {
    display: grid;
	place-items: center;
    position:relative;

    &:visited {
        text-decoration: inherit;
        color: inherit;
    }


    &:before {
        content: " ";
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #00B5F5, #002A8F);
        transition: all 250ms ease-out;
    }

    &:hover:before {
        transform: scale(0);
        transition: all 250ms ease-in;
    }

    &:hover i {
        /*
        background:-webkit-linear-gradient(45deg, #00B5F5, #002A8F);
        -webkit-background-clip: text;
        background-clip:none;
        -webkit-text-fill-color: transparent;
        */
        transform: scaleX(-1) scale(1.5);
        transition: transform 250ms ease-in;
    }
}

#social-links a>i {
    position: absolute;
    left: 50%;
    top: 50%;
	translate: -50% -50%;
    font-size: 1.5rem;
    
}