html,body{
    max-width:100vw;
    min-height: 100vh;
    padding: 0%;
    margin: 0;
}

body{
    background: #1A2980;
}

*{
    box-sizing: border-box;
}

header{
    padding: 3rem 5%;
    background-image: url("./images/pencils.jpg");
    color: white;
}

section{
    width:90%;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 8px;
    padding: 1rem;
    
}

#root{
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width:100vw;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas{
    width: 100%;

}

#color-container{
    width:100%;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    position: relative;
}


#copy-button{
    position: absolute;
    width:2rem;
    height: 80%;
    top: 50%;
    right: 5px;
    background-color: black;
    transform: translateY(-50%);
    background-image: url("./images/copy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    height: 300px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    padding: 2rem;
}

footer div{
    max-width: 70%;
    margin: auto;
}

